html
	head
		title Welcome
		script(src='/jquery-3.2.1.min.js')
		script(src='/bootstrap/dist/js/bootstrap.min.js')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
		link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='app.css')
	body
		nav.navbar.navbar-default.menu-top.navbar-fixed-top
			.container-fluid
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
						span.sr-only Toggle navigation
						|             
						span.icon-bar
						|             
						span.icon-bar
						|             
						span.icon-bar
						|           
					a.navbar-brand.menu-top-head(href='/')
						.fa.fa-triples
							span.brand-word Ts
				#bs-example-navbar-collapse-1.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li
							a.menu-top-head(href='/inventory') Inventory
						|             
						li
							a.menu-top-head(href='/notifications')
								i.fa.fa-bell.margin-top-6
								|             
					ul.dropdown-menu
						li
							a(href='#') Action
						|                 
						li
							a(href='#') Another action
						|                 
						li
							a(href='#') Something else here
						|                 
						li.divider(role='separator')
						|                 
						li
							a(href='#') Separated link

		.container-fluid.main
			.row
				.col-lg-12.col-md-12.col-xs-12.banner
					.container
						.message
							| Welcome, Dave!
							|             
						p.update
							| A lots been going on here and we are excited to see you back!
							| There are some new products that match your needs and you can check them out right here.
							| Take a look!
							|             
						button.btn.btn-primary.btn-md.learn
							| Learn more
			.row
				.col-lg-12.col-md-12.col-xs-12.start-back
					.row
						.container
							.start
								span Product suggestions for you
								|                 
								i.fa.fa-question-circle-o.how
								|
				
					.col-lg-12.col-md-12.col-xs-12.suggestion
						.row
							.container
								.start-small Because you purchased them before
								|
						.container
							- for (var n=0; n<5; n++)  
								.col-lg-3.col-md-3.col-xs-3.product-box
									.row
										.product-box
											.col-lg-8.col-md-8.col-xs-8
												.name Product Blah
												|                 
												.info $9.30
												|                 
												.options
													i.fa.fa-shopping-cart
													|                          
													span.cart Add to cart
													|                          
													i.fa.fa-info
													|                          
													span.look  Look inside
													|                     
											.col-lg-4.col-md-4.col-xs-4.prod-wrap
												.product
													span.word P

