html
	head
		title Welcome
		script(src='/socket.io/socket.io.js')
		script(src='/jquery-3.2.1.min.js')
		script(src='/bootstrap/dist/js/bootstrap.min.js')
		script
			include soc.js
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
		link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='app.css')
	body
		nav.navbar.navbar-default.menu-top.navbar-fixed-top
			.container-fluid
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
						span.sr-only Toggle navigation
						|             
						span.icon-bar
						|             
						span.icon-bar
						|             
						span.icon-bar
						|           
					a.navbar-brand.menu-top-head(href='/')
						.fa.fa-triples
							span.brand-word Ts
				#bs-example-navbar-collapse-1.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li
							a.menu-top-head(href='/inventory') Inventory
						|             
						li
							a.menu-top-head(href='/notifications')
								i.fa.fa-bell.margin-top-4
								|                
					ul.dropdown-menu
						li
							a(href='#') Action
						|                 
						li
							a(href='#') Another action
						|                 
						li
							a(href='#') Something else here
						|                 
						li.divider(role='separator')
						|                 
						li
							a(href='#') Separated link

		.container-fluid.main
			.row
				.col-lg-12.col-md-12.col-xs-12.banner
					.container
						.message
							| Your notifications!
							|             
						p.update
							| You can see the notifications from the Odor system here!
							| See when and how much odor was detected!
							|
			.row
				.col-lg-12.col-md-12.col-xs-12.start-back
					.row
						.container
							.start
								span Notifications for you
								|                 
								i.fa.fa-question-circle-o.how(title='A list of the odor notifications sent from TripleS')
								|
					.col-lg-12.col-md-12.col-xs-12.suggestion.save-center
							.container.save-center
									.col-lg-12.col-md-12.col-xs-12.product-box#main-notify
												
				